[flake8]
max-line-length = 79
exclude =
    __pycache__,
    *.pyc,
    .git,
    .tox,
    .pytest_cache,
    build,
    dist,
    *.egg-info
per-file-ignores =
    dialog.py:E402
    dialog_gtk.py:E402
    dream-background-remover.py:E402
